{% load i18n %}
<div class="btn-group btn-group-sm">

  {% if perms.tasks.add_task %}
    <a href="{% url 'tasks:add' %}" class="btn btn-success">
      <span class="glyphicon glyphicon-plus"></span> {% trans 'Add new task' %}
    </a>
  {% endif %}

  {% if perms.tasks.can_viewall %}
    <a href="{% url 'tasks:all_tasks' %}" class="btn btn-info">
      <span class="glyphicon glyphicon-baby-formula"></span> {% trans 'View all tasks' %}
    </a>
    <a href="{% url 'tasks:all_new_tasks' %}" class="btn btn-default">
      <span class="glyphicon glyphicon-new-window"></span> {% trans 'View all new tasks' %}
    </a>
  {% endif %}

  <a href="{% url 'tasks:empty_tasks' %}" class="btn btn-default">
    <span class="glyphicon glyphicon-eye-close"></span> {% trans 'View empty tasks' %}
  </a>

</div>
